
.HYPE_document {
	background-color: #cef1fc !important;
}
.QW_WIDE_COMMENTARY, .QW_WIDE_QUESTION {
    font-size: 22px !important;
    line-height: 1.5 !important;
    font-weight: 600 !important;
    color: #005477 !important;
    font-family: 'Raleway', sans-serif !important;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important;
}
.QW_WIDE_ANSWER {
    color: white !important;
    font-weight: 800 !important;
    -webkit-transition: background-color 300ms ease, color 30ms ease !important;
    -o-transition: background-color 300ms ease, color 30ms ease !important;
    transition: background-color 300ms ease, color 30ms ease !important;
    font-size: 16px !important;
    font-family: 'Raleway', sans-serif !important;
    text-align: center !important;
    text-decoration: none !important;
    background-color: #f59f40 !important;
    padding: 12px 24px !important;
    -webkit-border-radius: 36px !important;
    border-radius: 36px !important;
    display: block !important;
    text-transform: capitalize !important;
}
.QW_WIDE_ANSWER:hover {
    color: white !important;
    background-color: #e87c1b !important;
}
.QW_WIDE_NEXT_ACTIVE {
    color: white !important;
    font-weight: 800 !important;
    -webkit-transition: background-color 300ms ease, color 30ms ease !important;
    -o-transition: background-color 300ms ease, color 30ms ease !important;
    transition: background-color 300ms ease, color 30ms ease !important;
    font-size: 16px !important;
    font-family: 'Raleway', sans-serif !important;	
    text-align: center !important;
    text-decoration: none !important;
    background-color: #f59f40 !important;
    padding: 12px 24px !important;
    -webkit-border-radius: 36px !important;
    border-radius: 36px !important;
    display: inline-block !important;
    text-transform: capitalize !important;
}
.QW_WIDE_NEXT_ACTIVE:hover {
    color: white !important;
    background-color: #e87c1b !important;
}
.QW_WIDE_BACK_ACTIVE {
    color: #e87c1b !important;
    font-weight: 800 !important;
    -webkit-transition: background-color 300ms ease, color 30ms ease !important;
    -o-transition: background-color 300ms ease, color 30ms ease !important;
    transition: background-color 300ms ease, color 30ms ease !important;
    font-size: 16px !important;
    font-family: 'Raleway', sans-serif !important;
    text-align: center !important;
    text-decoration: none !important;
    background-color: white !important;
    padding: 12px 24px !important;
    -webkit-border-radius: 36px !important;
    border-radius: 36px !important;
    display: inline-block !important;
    text-transform: capitalize !important;
    letter-spacing: normal !important;
}
.QW_WIDE_BACK_ACTIVE:hover {
    color: white !important;
    background-color: #e87c1b !important;
}