[role="button"] {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.QW_NARROW_QUESTION {

}

.QW_MEDIUM_QUESTION {

}

.QW_WIDE_QUESTION {

}

.QW_NARROW_IMAGE {

}

.QW_MEDIUM_IMAGE {

}

QW_WIDE_IMAGE {

}

.QW_NARROW_COMMENTARY {

}

.QW_MEDIUM_COMMENTARY {

}

.QW_WIDE_COMMENTARY {

}

.QW_NARROW_ANSWER {

}

.QW_MEDIUM_ANSWER {

}

.QW_WIDE_ANSWER {

}

.QW_NARROW_NEXT_ACTIVE  {

}

.QW_MEDIUM_NEXT_ACTIVE {

}

.QW_WIDE_NEXT_ACTIVE {

}

.QW_NARROW_NEXT_DISABLED  {

}

.QW_MEDIUM_NEXT_DISABLED {

}

.QW_WIDE_NEXT_DISABLED {

}

.QW_NARROW_BACK_ACTIVE {

}

.QW_MEDIUM_BACK_ACTIVE {

}

.QW_WIDE_BACK_ACTIVE {

}


